.git
node_modules
packages/*/node_modules
data
deploy
.github
dist
packages/*/dist
packages/*/dist-chrome
packages/*/dist-firefox
*.tsbuildinfo
*.log
.DS_Store
.env
.vscode
.zed
.idea
Dockerfile*
.dockerignore
